body {
    font-family: Arial, sans-serif;
    color: #fff;
    background-image: url(images/black.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


.plans {
    border: 3px black solid;
    border-radius: 100px;
    height: 200px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  /* Hover effect for product images */
  .plans:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  }
.container {
    background: rgb(13, 13, 13);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    size: 1000px;
}

.login-box {
    max-width: 400px;
    margin: auto;
}

.icon img {
    width: 50px;
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 10px;
}

p {
    color: #666;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
    margin-right:20px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input-group input::placeholder {
    color: #888;
}

.forgot-password {
    display: block;
    text-align: right;
    margin-top: 5px;
    color: #007BFF;
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    padding: 10px;
    background: #6200ea;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background: #0056b3;
}

.alternative-signin {
    margin-top: 20px;
}

.social-icons a {
    margin: 0 10px;
    display: inline-block;
}

.social-icons img {
    width: 30px;
}

.a {
    text-align: center;
  }

  nav {
    display: flex;
    justify-content: center;
    background: #111;
    padding: 10px 0;
  }

  nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
  }

  nav a:hover {
    text-decoration: underline;
  }